<h3>Search for breweries by city:</h3>

<form method="get" action="/breweries">
  <input type="text" name="search">
  <input type="submit" value="Search!">
</form>

<h3>All the Breweries!</h3>

<ul>
  <% @breweries.each do |brewery| %>
    <li><%= brewery["name"] %></li>
  <% end %>
</ul>
